.twithub__footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: auto;
  width: 100%;

  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  color: #ffffff;
}

.twithub__footer_privacy-terms {
  display: flex;
  flex-direction: row;
}

.twithub__footer_privacy-terms a {
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.twithub__footer_project-by {
  line-height: 27px;
}

.twithub__footer_project-by p {
  font-family: Poppins;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  color: #ffffff;
}

@media screen and (max-width: 600px) {
  .twithub__footer {
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 15px;
  }

  .twithub__footer_project-by p {
    font-size: 12px;
    line-height: 15px;
  }
}
